In [10]:
import pickle
import pandas as pd

# with open("data/X.pickle", "rb") as f:
#     X = pickle.load(f)

# with open("data/y.pickle", "rb") as f:
#     y = pickle.load(f)


with open("data/X_use-target_sub.pickle", "rb") as f:
    X = pickle.load(f)

with open("data/y_use-target_sub.pickle", "rb") as f:
    y = pickle.load(f)

In [11]:
X_train, X_valid, X_test = X
y_train, y_valid, y_test = y

X_train = pd.DataFrame(X_train)
X_valid = pd.DataFrame(X_valid)
X_test = pd.DataFrame(X_test)

y_train = pd.DataFrame(y_train, columns=['target'])
y_valid = pd.DataFrame(y_valid, columns=['target'])
y_test = pd.DataFrame(y_test, columns=['target'])

train_df = pd.concat([X_train, y_train], axis=1)
valid_df = pd.concat([X_valid, y_valid], axis=1)
test_df = pd.concat([X_test, y_test], axis=1)

In [12]:
from pycaret.classification import *

clf = setup(data=train_df, target="target", 
            test_data=valid_df,
            fix_imbalance = True, 
            normalize=True,)

In [13]:
lr = create_model('lr')
tuned_lr = tune_model(lr, fold=10, optimize='f1')
final_lr = finalize_model(tuned_lr)
pred_lr = predict_model(final_lr, data=test_df)
pred_lr

,center,age,gender,height,weight,BMI,BMI_group,is_operation,is_pain,pain_NRS,...,is_respiration,is_digestive,is_hemoptysis,is_bloody_excrement,pulse,temperature,respiration,target,Label,Score
0,13,20,1,187.0,71.0,20.303698,1.0,0.0,1.0,3.0,...,0.0,0,0,0,67.0,37.1,16.0,0,1,0.5036
1,2,24,1,175.0,73.0,23.836735,1.0,0.0,1.0,2.0,...,0.0,0,0,0,74.0,37.2,18.0,0,1,0.7209
2,12,22,1,178.0,64.0,20.199470,1.0,1.0,1.0,3.0,...,0.0,0,0,0,76.0,38.0,16.0,0,1,0.5814
3,12,21,1,172.0,80.0,27.041644,2.0,0.0,0.0,3.0,...,0.0,1,0,0,100.0,37.6,16.0,0,1,0.6142
4,14,20,1,178.0,58.0,18.305769,1.0,0.0,0.0,3.0,...,1.0,0,0,0,69.0,36.3,20.0,0,0,0.6445
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,11,20,1,170.0,70.0,24.221453,1.0,1.0,1.0,4.0,...,0.0,1,0,0,87.0,36.4,16.0,0,1,0.5214
2040,15,23,1,171.0,82.0,28.042817,2.0,0.0,1.0,3.0,...,0.0,1,0,0,92.0,37.7,16.0,0,1,0.5145
2041,12,21,1,173.0,60.0,20.047446,1.0,0.0,0.0,2.0,...,0.0,1,0,0,50.0,36.0,16.0,0,0,0.5025
2042,12,21,1,168.0,66.0,23.384354,1.0,0.0,1.0,4.0,...,0.0,0,0,0,69.0,36.2,16.0,0,1,0.5635
2043,17,20,1,174.0,75.0,24.772097,1.0,0.0,1.0,2.0,...,0.0,1,0,0,52.0,36.3,18.0,0,0,0.7283

In [14]:
dt = create_model('dt')
tuned_dt = tune_model(dt, fold=10, optimize='f1')
final_dt = finalize_model(tuned_dt)
pred_dt = predict_model(final_dt, data=test_df)
pred_dt

,center,age,gender,height,weight,BMI,BMI_group,is_operation,is_pain,pain_NRS,...,is_respiration,is_digestive,is_hemoptysis,is_bloody_excrement,pulse,temperature,respiration,target,Label,Score
0,13,20,1,187.0,71.0,20.303698,1.0,0.0,1.0,3.0,...,0.0,0,0,0,67.0,37.1,16.0,0,1,0.5901
1,2,24,1,175.0,73.0,23.836735,1.0,0.0,1.0,2.0,...,0.0,0,0,0,74.0,37.2,18.0,0,1,0.7863
2,12,22,1,178.0,64.0,20.199470,1.0,1.0,1.0,3.0,...,0.0,0,0,0,76.0,38.0,16.0,0,0,0.5558
3,12,21,1,172.0,80.0,27.041644,2.0,0.0,0.0,3.0,...,0.0,1,0,0,100.0,37.6,16.0,0,1,0.5901
4,14,20,1,178.0,58.0,18.305769,1.0,0.0,0.0,3.0,...,1.0,0,0,0,69.0,36.3,20.0,0,0,0.8325
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,11,20,1,170.0,70.0,24.221453,1.0,1.0,1.0,4.0,...,0.0,1,0,0,87.0,36.4,16.0,0,0,0.7080
2040,15,23,1,171.0,82.0,28.042817,2.0,0.0,1.0,3.0,...,0.0,1,0,0,92.0,37.7,16.0,0,0,0.5885
2041,12,21,1,173.0,60.0,20.047446,1.0,0.0,0.0,2.0,...,0.0,1,0,0,50.0,36.0,16.0,0,0,0.7080
2042,12,21,1,168.0,66.0,23.384354,1.0,0.0,1.0,4.0,...,0.0,0,0,0,69.0,36.2,16.0,0,0,0.7080
2043,17,20,1,174.0,75.0,24.772097,1.0,0.0,1.0,2.0,...,0.0,1,0,0,52.0,36.3,18.0,0,0,0.8325

In [15]:
xgboost = create_model('xgboost')
tuned_xgboost = tune_model(xgboost, fold=10, optimize='f1')
final_xgboost = finalize_model(tuned_xgboost)
pred_xgboost = predict_model(final_xgboost, data=test_df)
pred_xgboost

,center,age,gender,height,weight,BMI,BMI_group,is_operation,is_pain,pain_NRS,...,is_respiration,is_digestive,is_hemoptysis,is_bloody_excrement,pulse,temperature,respiration,target,Label,Score
0,13,20,1,187.0,71.0,20.303698,1.0,0.0,1.0,3.0,...,0.0,0,0,0,67.0,37.1,16.0,0,1,0.9100
1,2,24,1,175.0,73.0,23.836735,1.0,0.0,1.0,2.0,...,0.0,0,0,0,74.0,37.2,18.0,0,1,0.9722
2,12,22,1,178.0,64.0,20.199470,1.0,1.0,1.0,3.0,...,0.0,0,0,0,76.0,38.0,16.0,0,1,0.9418
3,12,21,1,172.0,80.0,27.041644,2.0,0.0,0.0,3.0,...,0.0,1,0,0,100.0,37.6,16.0,0,1,0.9396
4,14,20,1,178.0,58.0,18.305769,1.0,0.0,0.0,3.0,...,1.0,0,0,0,69.0,36.3,20.0,0,0,0.9886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,11,20,1,170.0,70.0,24.221453,1.0,1.0,1.0,4.0,...,0.0,1,0,0,87.0,36.4,16.0,0,1,0.5225
2040,15,23,1,171.0,82.0,28.042817,2.0,0.0,1.0,3.0,...,0.0,1,0,0,92.0,37.7,16.0,0,1,0.8072
2041,12,21,1,173.0,60.0,20.047446,1.0,0.0,0.0,2.0,...,0.0,1,0,0,50.0,36.0,16.0,0,0,0.8176
2042,12,21,1,168.0,66.0,23.384354,1.0,0.0,1.0,4.0,...,0.0,0,0,0,69.0,36.2,16.0,0,1,0.6922
2043,17,20,1,174.0,75.0,24.772097,1.0,0.0,1.0,2.0,...,0.0,1,0,0,52.0,36.3,18.0,0,0,0.9329

In [16]:
mlp = create_model('mlp')
tuned_mlp = tune_model(mlp, fold=10, optimize='f1')
final_mlp = finalize_model(tuned_mlp)
pred_mlp = predict_model(final_mlp, data=test_df)
pred_mlp

,center,age,gender,height,weight,BMI,BMI_group,is_operation,is_pain,pain_NRS,...,is_respiration,is_digestive,is_hemoptysis,is_bloody_excrement,pulse,temperature,respiration,target,Label,Score
0,13,20,1,187.0,71.0,20.303698,1.0,0.0,1.0,3.0,...,0.0,0,0,0,67.0,37.1,16.0,0,0,0.5531
1,2,24,1,175.0,73.0,23.836735,1.0,0.0,1.0,2.0,...,0.0,0,0,0,74.0,37.2,18.0,0,1,0.7705
2,12,22,1,178.0,64.0,20.199470,1.0,1.0,1.0,3.0,...,0.0,0,0,0,76.0,38.0,16.0,0,1,0.6307
3,12,21,1,172.0,80.0,27.041644,2.0,0.0,0.0,3.0,...,0.0,1,0,0,100.0,37.6,16.0,0,1,0.7165
4,14,20,1,178.0,58.0,18.305769,1.0,0.0,0.0,3.0,...,1.0,0,0,0,69.0,36.3,20.0,0,0,0.7084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2039,11,20,1,170.0,70.0,24.221453,1.0,1.0,1.0,4.0,...,0.0,1,0,0,87.0,36.4,16.0,0,1,0.5180
2040,15,23,1,171.0,82.0,28.042817,2.0,0.0,1.0,3.0,...,0.0,1,0,0,92.0,37.7,16.0,0,1,0.6299
2041,12,21,1,173.0,60.0,20.047446,1.0,0.0,0.0,2.0,...,0.0,1,0,0,50.0,36.0,16.0,0,0,0.6438
2042,12,21,1,168.0,66.0,23.384354,1.0,0.0,1.0,4.0,...,0.0,0,0,0,69.0,36.2,16.0,0,0,0.5299
2043,17,20,1,174.0,75.0,24.772097,1.0,0.0,1.0,2.0,...,0.0,1,0,0,52.0,36.3,18.0,0,0,0.7767

In [17]:
res = pd.read_excel("model_performances_use-target_sub.xlsx", engine="openpyxl")
res["Score_lr"] = pred_lr["Score"].values
res['Score_dt'] = pred_dt['Score'].values
res['Score_xgboost'] = pred_xgboost['Score'].values
res['Score_mlp'] = pred_mlp['Score'].values

res.head()

   label  Score_dnn  Score_lr  Score_dt  Score_xgboost  Score_mlp
0      0   0.188580    0.5036    0.5901         0.9100     0.5531
1      0   0.394876    0.7209    0.7863         0.9722     0.7705
2      0   0.118185    0.5814    0.5558         0.9418     0.6307
3      0   0.120731    0.6142    0.5901         0.9396     0.7165
4      0   0.363556    0.6445    0.8325         0.9886     0.7084

In [18]:
res.to_excel("model_performances_use-target_sub.xlsx", index=False)